<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/business</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Kekus123</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="entities.User"/>
        <mapping class="entities.Operation"/>
        <mapping class="entities.Account"/>
        <mapping class="entities.Expense"/>
        <mapping class="entities.Income"/>
    </session-factory>

</hibernate-configuration>